SUBSAMPLE_FILE=subsampledCombination.csv
FULL_FILE=wala0cfa.csv
SA_LABEL=wala-cge-0cfa-noreflect-intf-trans
HEADERS=wala-cge-0cfa-noreflect-intf
BENCHMARK_CALLGRAPHS=/kaggle/input/autopruner-callgraphs/raw_data/raw_data
TRAINING_PROGRAMS_LIST=/kaggle/input/autopruner-callgraphs/train_programs.txt
LEARNED_MODEL_DIR=/kaggle/working/replication_package/model/finetuned_model/combine/
CLASSIFIER_MODEL_DIR=/kaggle/working/replication_package/model/classifier_model/wala/
TEST_PROGRAMS_LIST=/kaggle/input/autopruner-callgraphs/test_programs.txt
PROCESSED_DATA=/kaggle/input/autopruner-callgraphs/processed_data/processed_data/wala/
CACHE_DIR=/kaggle/working/replication_package/dl_dataset/wala/
FINETUNE_EMBEDDING=/kaggle/working/replication_package/dl_dataset/wala/
VISUALIZATION_OUTPUT=output/wala/